<div class="navbar__inner">
  <div class="navbar__left">
    @if (variant() === 'docs') {
      <button ngptIconButton class="navbar__hamburger" aria-label="Open navigation" [size]="24">
        <ng-icon
          name="lucideMenu"
          size="var(--ngpt-sys-icon-size-sm)"
          color="currentColor"
          aria-hidden="true"
        />
      </button>
    }
    <span class="navbar__logo" aria-hidden="true"></span>
    <span class="navbar__title">NGP Table</span>
  </div>

  <div class="navbar__right">
    @switch (variant()) {
      @case ('docs') {
        <button ngptSearchField (click)="forwardOpenSearch()"></button>
        <button ngptPillButton class="navbar__sponsor">Sponsor</button>
        <span class="navbar__dot" aria-hidden="true"></span>
        <a class="navbar__link" href="#">Discord</a>
        <a class="navbar__link" href="#">GitHub</a>
      }
      @case ('band') {
        <button ngptSearchField variant="on-band" (click)="forwardOpenSearch()"></button>
        <a class="navbar__link" href="#">Documentation</a>
        <a class="navbar__link" href="#">GitHub</a>
      }
    }
  </div>
</div>
